<footer>
  <div id="support">
    <h3>Support</h3>
    <a href="/contact">FAQs</a>
    <a href="/contact">Terms & Conditions</a>
    <a href="/contact">Privacy Policy</a>
  </div>
  <div id="links">
    <h3>Rentals</h3>
    <a href="/vehicles">Vehicle Fleet</a>
    <a href="/vehicles">Special Offers</a>
  </div>
  <div id="social">
    <img src="/images/linkedin-logo.svg" alt="LinkedIn">
    <img src="/images/facebook-logo.svg" alt="Facebook">
    <img src="/images/whatsapp-logo.svg" alt="Whatsapp">
  </div>
  <p>&#169;<span id="current-year"></span> | BYU-Idaho | CSE-499</p>
</footer>