<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<script src="/scripts/base.js" defer></script>
<title><%= title %> | Silver Road Cars</title>
