<div class="auth-page">
  <div class="auth-card">
    <h1>Login</h1>

    <% if (error) { %>
      <p class="auth-error"><%= error %></p>
    <% } %>

    <form action="/login/loginUser" method="POST" class="auth-form">
      <div class="form-group">
        <label for="userEmail">Email</label>
        <input type="email" id="userEmail" name="userEmail" placeholder="you@example.com" required>
      </div>

      <div class="form-group">
        <label for="userPassword">Password</label>
        <input type="password" id="userPassword" name="userPassword" placeholder="Your password" required>
      </div>

      <button type="submit" class="btn-primary">Sign In</button>
    </form>

  <p class="auth-switch">Don't have an account? <a href="/register">Register</a></p>
  <div class="form-group">
    <button type="submit" class="btn-submit">Sign In</button>
</div>

<div class="oauth-divider">
    <span>or</span>
</div>

<div class="form-group">
    <a href="/auth/google" class="btn-google">
        <svg class="google-icon" viewBox="0 0 24 24" width="20" height="20" xmlns="http://www.w3.org/2000/svg">
            <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"/>
            <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3
  </div>
</div>